html, body
{
    margin: 0;
    padding: 0;
}

/* Background image for menu, making sure no repeats */
.background
{
    background: url('images/StartPage.png') no-repeat center center fixed;
    background-size: cover;
    height: 1080px;
}

/* Background image for menu, making sure no repeats */
.backgroundSign
{
    background: url('images/SignInPic.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 1080px;
}

/* Background image for menu, making sure no repeats */
.backgroundregistration
{
    background: url('images/RegistrationPic.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 1080px;
}

.backgroundSearchBook
{
    background: url('images/SearchPage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 1080px;
}
/* Perfecting the size of the 3 buttons down */
.container
{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Positioning for lower page */
.supporting
{
    padding-top: 300px;
    padding-bottom: 100px;
}

/* Position of Top Page */
.main
{
    position: relative;
    top: 130px;
    text-align: center;
}

/* Title of Page */
.main h1
{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 60px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.remain
{
    position: relative;
    padding-top: 80px;
    text-align: center;
}

/* Title of Page */
.remain h1
{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 80px;
    text-transform: uppercase;
}

/* Description after title */
.btn-primary
{
    background-color: rgba(100, 100, 100, 0.5);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    border-radius: 25px;
}

.cool-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #074709;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* The three bottons */
.btn-default
{
    border: 1px solid #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 5px;
}

.col
{
    color: #ffffff;
    float: left;
    width: 50%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* Lining */
.clearfix
{
    clear: both;
}

.Form {
    background-color: rgba(255, 255, 255, 0.3); /* Imposta l'opacità del colore di sfondo */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
}

.Form h1 {
    color: #ffffff; /* White text color */
    font-size: 30px; /* Smaller font size */
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
}

/* Form styles */
form input[type="text"], form input[type="password"] {
    width: calc(100% - 25px); /* Larghezza al 100% meno 15px per il bordo a destra */
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.form button[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
}

.loginheader
{
    font-family: 'Raleway', sans-serif;
    text-align: center;

}

/* da capire se sono da usare o meno*/

.form-group {
    margin-bottom: 15px;
}

/* Flexbox layout for the form */
.search-form {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Adjust as needed */
}