<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/basicStyle.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.min.css" integrity="sha512-fJcFDOQo2+/Ke365m0NMCZt5uGYEWSxth3wg2i0dXu7A1jQfz9T4hdzz6nkzwmJdOdkcS8jmy2lWGaRXl+nFMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>BookInformation</title>
</head>
<body>

<div class="backgroundHomePage">
    <div class="container">
        <div class="main">
            <h1>Book Information </h1>
            <p class="btn-primary">This page will show you information about the selected book! </p>
        </div>
    </div>
</div>

<div class="Form-container">

    <div class="image-slot">
        <img src="/images/BookCover.jpeg" alt="Book Cover" />
    </div>

    <div class="FormListBook4">
        <form th:action="@{'/removeBook/' + ${bookDetails.ISBN}}" method="post" th:each="bookDetails : ${bookDetails}">
            <table>
                <tr>
                    <th class="th-bookInformation">ISBN</th>
                    <td class="td-bookInformation" th:text="${bookDetails.ISBN}">-</td>
                </tr>
                <tr>
                    <th class="th-bookInformation">Title</th>
                    <td class="td-bookInformation" th:text="${bookDetails.title}">-</td>
                </tr>
                <tr>
                    <th class="th-bookInformation">Author</th>
                    <td class="td-bookInformation" th:text="${bookDetails.author}">-</td>
                </tr>
                <tr>
                    <th class="th-bookInformation">Genre</th>
                    <td class="td-bookInformation" th:text="*{genre.name}">-</td>
                </tr>
                <tr>
                    <th class="th-bookInformation">Publisher</th>
                    <td class="td-bookInformation" th:text="${bookDetails.publisher}">-</td>
                </tr>
            </table>
                <input class="cool-button-bookinformation" name="submit" th:type="submit" value="Remove" />
        </form>
    </div>
</div>
</body>
</html>
