<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <link type="text/css" rel="stylesheet" th:href="@{/basicStyle.css}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.min.css" integrity="sha512-fJcFDOQo2+/Ke365m0NMCZt5uGYEWSxth3wg2i0dXu7A1jQfz9T4hdzz6nkzwmJdOdkcS8jmy2lWGaRXl+nFMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Home Page</title>

    </head>
    <body>

    <!--
        <div class="backgroundHomePage">
            <div class="container">
                <div class="main">
                    <h1>Home Page </h1>
                    <p class="btn-primary">Welcome to your home page. Below, you can find all your borrowed books.</p>
                </div>
            </div>
        </div>
        -->

        <div class="backgroundHomePage">
            <div class="container">
                <div class="main">
                    <h1>Home Page </h1>
                    <p class="btn-primary">Welcome to your home page. Below, you can find all your borrowed books.</p>
                </div>
                <div class="container-homePage">
                    <a class="btn-default" th:href="@{/searchBook}">Search for Books</a>
                </div>

                <!-- TODO
                fare pagina che mi permetta di aggiungere un nuovo libro alla bilbioteca.
                Questo libro deve essere mostrato poi nel flickity dei borrows books
                (andare a vedere la checkSaveAccount)-->

                <div class="container-homePage2">
                    <a class="btn-default" th:href="@{/registerNewBook}">Register new Book</a>
                </div>

            </div>
        </div>

        <h2 class="text-HomePage"> Your books: </h2>
        <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
            <div class="carousel-cell"> Book </div>
            <div class="carousel-cell"> Book  </div>
            <div class="carousel-cell"> Book  </div>
            <div class="carousel-cell"> Book  </div>
            <div class="carousel-cell"> Book  </div>
            <div class="carousel-cell"> Book  </div>
            <div class="carousel-cell"> Book </div>
            <div class="carousel-cell"> Book  </div>
            <div class="carousel-cell"> Book  </div>
            <div class="carousel-cell"> Book  </div>
            <div class="carousel-cell"> Book  </div>
            <div class="carousel-cell"> Book  </div>

        </div>


    <h2 class="text-HomePage"> Your books: </h2>
    <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
        <a th:href="@{'/detailBooks/' + ${book.ISBN}}" th:each="book : ${listBooks}" class="carousel-cell">
            <table>
                <tr class="text-ListPage" th:text="${book.ISBN}">
                </tr>
                <tr class="text-ListPage" th:text="${book.title}">
                </tr>
                <tr class="text-ListPage" th:text="${book.author}">
            </table>
        </a>
    </div>



       <!--

            <div class="main-carousel" th:each="book : ${listBooks}" data-flickity='{ "cellAlign": "left", "contain": true }'>
            <div th:each="book : ${books}" class="carousel-cell">
                <div class="carousel-cell" style="background-image: url(./static/images/BookImage.jpg)" th:text="${book.ISBN}"> Books  </div>
                <div class="carousel-cell"> Book  </div>
                <div class="carousel-cell"> Book  </div>
                <div class="carousel-cell"> Book  </div>

            </div>
        -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.pkgd.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>
</html>
