<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <link type="text/css" rel="stylesheet" th:href="@{/basicStyle.css}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.min.css" integrity="sha512-fJcFDOQo2+/Ke365m0NMCZt5uGYEWSxth3wg2i0dXu7A1jQfz9T4hdzz6nkzwmJdOdkcS8jmy2lWGaRXl+nFMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Home Page</title>

    </head>
    <body>
        <div class="backgroundHomePage">
            <div class="container">
                <div class="main">
                    <h1>Home Page </h1>
                    <p class="btn-primary">Welcome to your home page, <span th:text="${user.username}"></span>!!
                        <br> Your library member ID is <span th:text="${libraryMember.id}"></span>.
                        Below, you can find all your borrowed books.</br></p>
                </div>
                <div class="container-homePage">
                    <a class="btn-default" th:href="@{/searchBook}">Search for Books</a>
                </div>

                <div class="container-homePage2">
                    <a class="btn-default" th:href="@{/searchBookFull}">Search for advanced books</a>
                </div>
            </div>
        </div>

        <h2 class="text-HomePage"> Your books: </h2>
        <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
            <a th:href="@{'/detailBooksBorrowed/' + ${book.ISBN}}" th:each="book : ${borrowedBooks}" class="carousel-cell">
                <table>
                    <tr class="text-ListPage" th:text="${book.title}">
                    </tr>

                </table>
            </a>
        </div>

        <h2 class="text-HomePage"> Books that you can borrow:</h2>
        <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
            <a th:href="@{'/detailBooks/' + ${book.ISBN}}" th:each="book : ${listAllBooks}" class="carousel-cell">
                <table>
                    <tr class="text-ListPage" th:text="${book.title}">
                    </tr>
                </table>
            </a>
        </div>

        <h2 class="text-HomePage"> Historical books:</h2>
        <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
            <!-- Thymeleaf iteration to populate the carousel with listBooks -->
            <a th:href="@{'/detailBooks/' + ${book.ISBN}}" th:each="book : ${historianBook}" class="carousel-cell">
                <table>
                    <tr class="text-ListPage" th:text="${book.title}">
                    </tr>
                </table>
            </a>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.pkgd.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
