<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="../static/index_style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.min.css" integrity="sha512-fJcFDOQo2+/Ke365m0NMCZt5uGYEWSxth3wg2i0dXu7A1jQfz9T4hdzz6nkzwmJdOdkcS8jmy2lWGaRXl+nFMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home Page</title>

</head>
<body>

<div class=" header">
<div class="container">


    <div id="menu">
        <ul class="nav">
            <li><a href="index.html">Welcome</a></li>
            <li><a href="SearchBook.html">Search</a></li>
            <li><a href="SignInPage.html">My Account</a></li>
            <li><a href="HomePage.html">Home</a></li>
        </ul>
    </div>
</div>
</div>

<div class="backgroundfix8">
    <div class="container">
        <div class="main">
            <h1>Home Page </h1>
            <p class="btn-primary">Welcome to your home page. Below, you can find all your borrowed books.</p>
        </div>
    </div>
</div>

<h2> Your books: </h2>
<div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
    <div class="carousel-cell"> Book </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>

</div>


<h2> Books that you can borrow:</h2>
<div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
    <div class="carousel-cell"> Book </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>
    <div class="carousel-cell"> Book  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.pkgd.min.js" integrity="sha512-achKCfKcYJg0u0J7UDJZbtrffUwtTLQMFSn28bDJ1Xl9DWkl/6VDT3LMfVTo09V51hmnjrrOTbtg4rEgg0QArA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>

</body>
</html>