<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/basicStyle.css}"/>
    <title>List Book Page</title>
</head>
<body>
<form th:action="@{/addBook}" method="post" th:each="book : ${foundBooks}">
    <table>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Publisher</th>
        </tr>
        <tr>
            <td th:text="${book.ISBN}">-</td>
            <td th:text="${book.title}">-</td>
            <td th:text="${book.author}">-</td>
            <td th:text="${book.genre}">-</td>
            <td th:text="${book.publisher}">-</td>
            <td>
                <input type="hidden" th:field="*{book.ISBN}"/>
                <button type="submit">Invia</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>
