<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/basicStyle.css}"/>
    <title>List Book Page</title>
</head>
<body>
    <div class="backgroundListBook">
        <div class="container">
            <div class="main">
                <h1> List Page</h1>
                <p class="btn-primary">In this page you can find the result of your research. <br> Press "Add" to upload the book to your personal list.</p>
            </div>
        </div>

        <div class="Form-container">
            <div class="FormListBook3">
                <table class="tableListBook">
                    <tr>
                        <th class="text-ListPage">ISBN</th>
                        <th class="text-ListPage">Title</th>
                        <th class="text-ListPage">Author</th>
                        <th class="text-ListPage">Genre</th>
                        <th class="text-ListPage">Publisher</th>
                    </tr>

                    <form th:action="@{'/addBook/' + ${book.ISBN}}" method="post" th:each="book : ${foundBooks}">
                        <tr>
                            <td th:text="${book.ISBN}">-</td>
                            <td th:text="${book.title}">-</td>
                            <td th:text="${book.author}">-</td>
                            <td th:text="${genre.name}">-</td>
                            <td th:text="${book.publisher}">-</td>
                            <td>
                                <input type="hidden" th:field="*{book.ISBN}"/>
                                <button class="cool-button" type="submit">Add Book</button>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>



        <!--
        <div class="Form-container">
            <div class="FormListBook3">
                <form th:action="@{'/addBook/' + ${book.ISBN}}" method="post" th:each="book : ${foundBooks}">
                    <table>
                        <tr>
                            <th class="text-ListPage">ISBN</th>
                            <th class="text-ListPage">Title</th>
                            <th class="text-ListPage">Author</th>
                            <th class="text-ListPage">Genre</th>
                            <th class="text-ListPage">Publisher</th>
                        </tr>
                        <tr>
                            <td th:text="${book.ISBN}">-</td>
                            <td th:text="${book.title}">-</td>
                            <td th:text="${book.author}">-</td>
                            <td th:text="${book.genre}">-</td>
                            <td th:text="${book.publisher}">-</td>
                            <td>
                                <input type="hidden" th:field="*{book.ISBN}"/>
                                <button class="cool-button" type="submit">Add Book</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        -->
    </div>
</body>
</html>