<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--Linking to CSS-->
    <link type="text/css" rel="stylesheet" th:href="@{/basicStyle.css}"/>
    <title>Search</title>
</head>

<body>



    <div class="backgroundSearchBook">
        <div class="container">
            <div class="main">
                <h1>Search</h1>
                <p class="btn-primary">Search for a book in the library, you may wish to reserve it if avaliable.</p>
            </div>
        </div>
        <!-- CSS to style the form. -->
        <div class="Form2">
            <!-- CSS to style the header. -->
            <h1 class="loginheader">Search For A Book</h1>

            <!-- Form Start. -->

            <form th:action="@{/searchBooks}" method="post" th:object="${books}" class="search-form">
                <div class="Form" >
                    <label for="ISBN">ISBN:</label>
                    <input type="text" th:field="*{ISBN}" placeholder="ISBN" id="ISBN" />

                    <label for="author">Author:</label>
                    <input type="text" th:field="*{author}" placeholder="Author" id="author" />

                    <label for="title">Title:</label>
                    <input type="text" th:field="*{title}" placeholder="Title" id="title" />

                    <input class="cool-button" name="submit" th:type="submit" value="Search" />
                </div>

            </form>

        </div>

    </div>




</body>
</html>