<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link type="text/css" rel="stylesheet" th:href="@{/basicStyle.css}"/>
    <meta charset="utf-8">
    <title>Register</title>
</head>

<body>
<div th:if="${message}" class="alert alert-danger">
    [[${message}]]
</div>


    <div class="backgroundSign">
        <div class="container">
            <div class="main">
                <h1>Welcome to the Login page</h1>
                <p class="btn-primary">Log in to access your account, view books and search for books.</p>
            </div>
        </div>

        <div class="Form">
            <h1>Fill in the form below</h1>
            <form th:action="@{/checkAccount}" method="post" th:object="${user}" style="max-width: 500px; margin: 0 auto;">
                <input type="text" th:field="*{username}" placeholder="Username" required minlength="2" maxlength="45"/>
                <input type="password" th:field="*{password}" placeholder="Password" required minlength="2" maxlength="45" />

                <div class="text-center">
                    <br>
                    <button class="cool-button" type="submit" name="Submit">Login</button>
                </div>

            </form>
            <p> <b>Not registered yet?</b>
                <a th:href="@{/registerNewUser}"><b>Register Here</b></a>
            </p>
        </div>

    </div>


</body>
</html>


