<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link type="text/css" rel="stylesheet" th:href="@{/basicStyle.css}"/>
    <meta charset="utf-8">
    <title>Sign in</title>
</head>

<body>




    <div class="backgroundSign">
        <div class="container">
            <div class="main">
                <h1>Welcome to the Login page</h1>
                <p class="btn-primary">Log in to access your account, view books and search for books.</p>
            </div>
        </div>

        <div class="Form4">
            <h1 class="centered-text">Fill in the form below</h1>
            <form th:action="@{/checkAccount}" method="post" th:object="${user}" style="max-width: 500px; margin: 0 auto;">
                <input type="text" th:field="*{username}" placeholder="Username" required minlength="2" maxlength="45"/>
                <input type="password" th:field="*{password}" placeholder="Password" required minlength="2" maxlength="45" />

                <div th:if="${message}" id="message-box" class="alert alert-danger">
                    [[${message}]]
                </div>

                <div class="text-center">
                    <br>
                    <button class="cool-button" type="submit" name="Submit">Login</button>
                </div>

            </form>
            <p class="text-SignIn"> <b>Not registered yet?</b>
                <a class="text-SignInTh" th:href="@{/registerNewUser}"><b>Register Here</b></a>
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $(".alert").fadeOut('slow');
            }, 3000);
        });
    </script>

</body>
</html>


